<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data API</title>
</head>
<body>
    <h1>weather data API</h1>
    
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>URL format: http://127.0.0.1:5000/api/v1/station</p>
    <p>URL format: http://127.0.0.1:5000/api/v1/yearly/station/year</p>
    <p>URL example: http://127.0.0.1:5000/api/v1/s10/1998-10-25</p>
    <p>{{data|safe}}</p>
</body>
</html>