<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website using flask</title>
</head>
<body>
    <nav>
        <a href="/about/">About</a>
        <a href="/contact-us/">Contact Us</a>
        <a href="/store/">Store</a>
    </nav>
    <h1>welcome</h1>
    <h2>this is  my  firat webpage created using Flask</h2>
    <p>This is the content of the  webpage</p>
    <img src="{{url_for('static', filename='einstein.png')}}" style="width: 500px" alt="">
</body>
</html>